<!DOCTYPE html>
<html>
  <head>
    <%# Bootstrap meta tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Homeless Predictor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%# Bootstrap css %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="bg-dark">
    <div class="vert-head">
      <div class="d-flex align-items-center flex-column justify-content-center h-100 bg-dark text-white" id="header">
        <h1 class="display-4">Homeless Predictor Calculator</h1>
        <div class = "vert-form">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
